*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(33, 124, 222);
   
}

#inicio{
    padding: 5px;
    margin:0 auto; 
    width: 85%;
    background-color: rgb(238, 235, 235);

}

body{
    background: url(/cv/img/fondo.png);
}

fieldset{
    border: solid 1px rgb(33, 124, 222);
    margin: 5px 2px 0px 3px;
    font-size: 15px;
}
#field{
   margin-top: 80px;
}
legend{
    border: solid 1px;
    padding: 5px;
    background-color: #cccccc;
    border-radius: 10px;
}

ul li{
    text-align: left;
}

ul li i{
    text-align: left;
}

img#RegresarCV{
    margin: -10px 81% 1px -2px;
    float: left;
    width: 11%;
}
div#Regresar{
    margin: 10px 10% 1px -2px;
    width: 100%;
}
#yo{
    border: solid 2px;
    border-radius: 9%;
    margin: 10px;
    float: right;
}

h1{
    margin: 1px auto;
    float: right;
}

p{
    font-size: 12px;
    margin: 50px -180px -1px 83px;
    float: right;
}

footer{
    margin-top: 9%;
    text-align: center;
    background-color: #cccccc;
}
@media screen and (max-width: 500px) {
    h1{
        font-size: 22px;
        text-align: center;
        margin-left: 29px;
    }
    p{
        font-size: 12px;
        margin: 1px 8px -1px 83px;
        float: left;
    }
    footer.pie{
        text-align: center;
        background-color: #cccccc;
        margin-top: 100vh;
    }
    img#RegresarCV{
        margin: -10px 64% 1px -2px;
        float: left;
        width: 23%;
    }
    div#Regresar{
        margin: 10px 10% 1px -2px;
        width: 100%;
    }
    fieldset{
        border: solid 1px rgb(33, 124, 222);
        margin: 26px 2px 0px 3px;
        font-size: 15px;
    }

  }